<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="What's in the pot for you?">
    <meta name="author" content="Honeypot">

    <title>What am I worth?</title>
    <link rel="stylesheet" media="all" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render "_analytics.html" %>
  </head>

  <body>
    <div class="container">

      <%= if get_flash(@conn, :info) do %>
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <% end %>

    </div> <!-- /container -->
    <%= @inner %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render "_footer.html" %>
  </body>
</html>
