*,
*:after,
*:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Proxima-Nova';
  font-weight: 100;
  src: url('/fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('/fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima-Nova';
  font-weight: 600;
  src: url('/fonts/ProximaNova-SBold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima-Nova';
  font-weight: 800;
  src: url('/fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: italic;
  src: url('/fonts/ProximaNova-RegItalic.otf') format('opentype');
}
