// Colors
$white-color: #ffffff;
$dark-blue-color: #1f2228;
$light-blue-color: #94a2b1;
$yellow-color: #ffba00;
$red-color: #e85b0e;

// Fonts
$ff-sans-serif: 'Proxima-Nova', Helvetica, sans-serif;

$fs-1: 16px;
$fs-2: 18px;
$fs-footer: 14px;
$fs-intro: 22px;
$fs-heading: 30px;
$fs-honeycomb-digit: 15px;

$fw-light: 100;
$fw-normal: 400;
$fw-bold: 800;
