@import "bootstrap-sprockets";
@import "bootstrap";


html {
  overflow-y: scroll;
}

h1 {
  text-align: center;
  margin: 50px 0 50px 0;
}

input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}
