.sessions
  .container
    .col-xs-12
      .panel.panel-default.legal__panel
        .panel-heading
          Legal Notice
        .panel-body
          %p.text-left
            %em Information in accordance with section 5 TMG:
            %br
            %strong Honeypot GmbH
          %p.text-left
            %strong Address
            %br Schönhauser Allee 45
            10435 Berlin, Germany
          %p.text-left
            %strong Contact
            %br Phone: +49 (0)151 418 54 971
            E-Mail: hello@honeypot.io
            %br Managing Director: Kaya Taner
            Commercial Register: Amtsgericht Charlottenburg, HRB 167934 B
            %br VAT-id: DE300856850
          %p.text-left
            Responsible for content pursuant to sec 55 subsection 2 of the interstate
            broadcasting compact (RStV): Kaya Taner.
          %br

          %strong Privacy Policy
          %p.text-left
            %br This privacy policy discloses the privacy practices for whatamiworth.io.
            It will notify you of the following:
            %ol
              %li
                What personally identifiable information is collected from you through the
                web site, how it is used and with whom it may be shared.
              %li What choices are available to you regarding the use of your data.
              %li The security procedures in place to protect the misuse of your information.
              %li How you can correct any inaccuracies in the information.
              %li Use of cookies
              %li Use of Google Analytics
            %br

          %p
            %strong Information Collection, Use, and Sharing
            %p
              We are the sole owners of the information collected on this site. We only have
              access to/collect information that you voluntarily give us via whatamiworth.io,
              email or other direct contact from you.
            %p
              We will not share your information with any third party outside of our
              organization, other than as necessary to fulfill your request.
            %br

          %p
            %strong Your Access to and Control Over Information
            %p
              You may opt out of any future contacts from us at any time. You can do the
              following at any time by contacting us via the email address or phone number
              given on our website:
              %li See what data we have about you, if any.
              %li Change/correct any data we have about you.
              %li Have us delete any data we have about you.
              %li Express any concern you have about our use of your data.
            %br

          %p
            %strong Security
            %p
              We take precautions to protect your information. When you submit sensitive
              information via the website, your information is protected both online and
              offline.
            %p
              Wherever we collect sensitive information, that information is encrypted
              and transmitted to us in a secure way. You can verify this by looking for
              a closed lock icon at the bottom of your web browser, or looking for "https"
              at the beginning of the address of the web page.
            %p
              While we use encryption to protect sensitive information transmitted online,
              we also protect your information offline. Only employees who need the
              information to perform a specific job (for example, billing or customer
              service) are granted access to personally identifiable information.
              The computers/servers in which we store personally identifiable information
              are kept in a secure environment.
            %br

          %p
            %strong Updates
            %p
              Our Privacy Policy may change from time to time and all updates will be
              posted on this page.
            %br

          %p
            %strong Use of Cookies
            %p
              This website uses cookies to better the users experience while visiting
              the website.
            %p
              Cookies are small files saved to the user's computers hard drive that track,
              save and store information about the user's interactions and usage of the
              website. This allows the website, through its server to provide the users
              with a tailored experience within this website.
            %p
              Users are advised that if they wish to deny the use and saving of cookies
              from this website on to their computers hard drive they should take
              necessary steps within their web browsers security settings to block all
              cookies from this website and its external serving vendors.
            %p
              This website uses tracking software to monitor its visitors to better
              understand how they use it. This software is provided by Google Analytics
              which uses cookies to track visitor usage. The software will save a cookie
              to your computers hard drive in order to track and monitor your engagement
              and usage of the website, but will not store, save or collect personal
              information. You can read Google's privacy policy here for further
              information http://www.google.com/privacy.html.
            %p
              Other cookies may be stored to your computers hard drive by external vendors
              when this website uses referral programs, sponsored links or adverts. Such
              cookies are used for conversion and referral tracking and typically expire
              after 30 days, though some may take longer. No personal information is
              stored, saved or collected.
            %br

          %p
            %strong Use of Google Analytics
            %p
              Google Analytics is a web analysis service provided by Google. Google
              utilizes the data collected to track and examine the use of whatamiworth.io, to
              prepare reports on its activities and share them with other Google services.
            %p
              Google may use the data collected to contextualize and personalize the ads
              of its own advertising network.
            %p
              Personal data collected: Cookie and Usage Data. Place of processing: USA.
              Find Google's privacy policy here.
            %br

          %p
            %strong Terms of Service
            %p
              Honeypot's&nbsp;
              %a{href: 'https://www.honeypot.io/pages/terms_of_service'} Terms of Service&nbsp;
              apply where applicable.
