.footer
  .container.text-center
    %span.footer__item
      Created with
      = image_tag "/images/mascot.png", class: 'footer__mascot'
      by
      = link_to 'Honeypot Team', 'http://honeypot.io'
      | 
      = link_to 'Legal Notice', '/pages/legal_notice'
